/* Global styles */
body {
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 20px;
}

.navbar {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-size: 1.25rem;
  color: #333; /* Adjust as needed */
}

.navbar-brand span {
  font-size: 0.8rem;
  color: #888; /* Adjust as needed */
}

.navbar-top .nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #333;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

/* Header Navigation */
.header-navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.college-name {
  margin-left: 10px;
  font-size: 1.2rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-collapse {
      display: none;
  }

  .navbar-collapse.show {
      display: block;
  }

  .navbar-toggler {
      display: block;
  }
}
